## Observations and Insights

## Dependencies and starter code

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import statistics as stat

# Study data files
mouse_metadata = "./data/Mouse_metadata.csv"
study_results = "./data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset

## Summary statistics

In [6]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

In [7]:
#make a variable that groups mouse IDs by drug regimen

In [8]:
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [9]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [10]:
merged_data= pd.merge(mouse_metadata, study_results, on="Mouse ID")
merged_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [11]:
drugs= np.unique(mouse_metadata["Drug Regimen"])
drugs

array(['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol',
       'Placebo', 'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol'],
      dtype=object)

In [12]:
Ceftamin =merged_data.loc[merged_data["Drug Regimen"]=="Ceftamin",:]
Infubinol =merged_data.loc[merged_data["Drug Regimen"]=="Infubinol",:]
Ketapril =merged_data.loc[merged_data["Drug Regimen"]=="Ketapril",:]
Naftisol =merged_data.loc[merged_data["Drug Regimen"]=="Naftisol",:]
Placebo =merged_data.loc[merged_data["Drug Regimen"]=="Placebo",:]
Propriva =merged_data.loc[merged_data["Drug Regimen"]=="Propriva",:]
Ramicane =merged_data.loc[merged_data["Drug Regimen"]=="Ramicane",:]
Stelasyn =merged_data.loc[merged_data["Drug Regimen"]=="Stelasyn",:]
Zoniferol =merged_data.loc[merged_data["Drug Regimen"]=="Zoniferol",:]
Capomulin =merged_data.loc[merged_data["Drug Regimen"]=="Capomulin",:]

In [13]:
count_drug_reg = np.zeros(len(drugs))
for i in range(0,len(drugs)):
    count_drug_reg[i]=np.shape(merged_data.loc[merged_data["Drug Regimen"]==drugs[i]])[0]
count_drug_reg

array([230., 178., 178., 188., 186., 181., 161., 228., 181., 182.])

In [14]:
Ceftamin_tv =Ceftamin["Tumor Volume (mm3)"]

In [15]:
Infubinol_tv = Infubinol["Tumor Volume (mm3)"]

In [16]:
Ketapril_tv =Ketapril["Tumor Volume (mm3)"]

In [17]:
Naftisol_tv=Naftisol["Tumor Volume (mm3)"]

In [18]:
Placebo_tv=Placebo["Tumor Volume (mm3)"]

In [19]:
Propriva_tv=Propriva["Tumor Volume (mm3)"]

In [20]:
Ramicane_tv=Ramicane["Tumor Volume (mm3)"]

In [21]:
Stelasyn_tv=Stelasyn["Tumor Volume (mm3)"]

In [22]:
Zoniferol_tv=Zoniferol["Tumor Volume (mm3)"]

In [ ]:
from scipy.stats import sem

In [ ]:
Capomulin_tv=Capomulin["Tumor Volume (mm3)"]

In [ ]:
drug_stats=pd.DataFrame({"Drug Regimen":[i for i in drugs],
                         "Mean":[Capomulin_tv.mean(),Ceftamin_tv.mean(), Infubinol_tv.mean(), Ketapril_tv.mean(), Naftisol_tv.mean(), Placebo_tv.mean(), Propriva_tv.mean(), Ramicane_tv.mean(), Stelasyn_tv.mean(), Zoniferol_tv.mean()],
                         "Median":[Capomulin_tv.median(),Ceftamin_tv.median(), Infubinol_tv.median(), Ketapril_tv.median(), Naftisol_tv.median(), Placebo_tv.median(), Propriva_tv.median(), Ramicane_tv.median(), Stelasyn_tv.median(), Zoniferol_tv.median()],
                         "Variance":[np.var(Capomulin_tv), np.var(Ceftamin_tv), np.var(Infubinol_tv), np.var(Ketapril_tv), np.var(Naftisol_tv), np.var(Placebo_tv), np.var(Propriva_tv), np.var(Ramicane_tv), np.var(Stelasyn_tv), np.var(Zoniferol_tv)],
                         "Standard Deviation":[np.std(Capomulin_tv),np.std(Ceftamin_tv),np.std(Infubinol_tv),np.std(Ketapril_tv),np.std(Naftisol_tv),np.std(Placebo_tv),np.std(Propriva_tv),np.std(Ramicane_tv),np.std(Stelasyn_tv), np.std(Zoniferol_tv)],
                         "SEM":[sem([Capomulin_tv], axis=1),sem([Ceftamin_tv], axis=1),sem([Infubinol_tv], axis=1),sem([Ketapril_tv], axis=1),sem([Naftisol_tv],axis=1),sem([Placebo_tv], axis=1),sem([Propriva_tv], axis=1),sem([Ramicane_tv], axis=1),sem([Stelasyn_tv], axis=1),sem([Zoniferol_tv], axis=1)]
                        
                        })

In [ ]:
drug_stats

## Bar plots

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [ ]:
df1 = pd.DataFrame({'Drug Name':[j for j in list(drugs)], '# Data Points':[k for k in count_drug_reg]},index=list(drugs))

In [ ]:
df1.plot.bar()

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

In [ ]:
objects = ("Capomulin","Ceftamin","Infubinol","Ketapril","Naftisol","Placebo","Propriva","Ramicane","Stelasyn","Zoniferol")
y_pos = (230, 178, 178, 188, 186, 181, 161, 228, 181, 182)
performance = [250,200,150,100,50,0]

plt.bar(objects, y_pos, align='center', alpha=0.5)
plt.ylabel('# of data points')
plt.xticks(rotation=90)
plt.title('Data Points By Drug')

plt.show()

## Pie plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
fml=merged_data.loc[merged_data["Sex"]=="Female",:]
ml=merged_data.loc[merged_data["Sex"]=="Male",:]

In [ ]:
df2=pd.DataFrame({"Distribution":[len(ml),len(fml)]},
index=["Male","Female"])

In [ ]:
plot=df2.plot.pie(y="Distribution")

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

In [ ]:
len(ml)

In [ ]:
len(fml)

In [ ]:
labels = 'Male', 'Female'
sizes = [958, 935]
explode = (0, 0.1)  

fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

## Quartiles, outliers and boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens.

In [ ]:
# Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [ ]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen